body {
    background: silver;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mainDiv {
    width: 33vw;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.userBlock {
    width: 13vw;
    height: 28vh;
    background: #ababab;

    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 10px;
    text-align: center;
}

.txt {
    margin-top: 70px;
    margin-bottom: 20px;
}

